server {
  server_name awfy-speed.stefan-marr.de;

  disable_symlinks off;

  access_log  /var/log/nginx/awfy-speed-sm-de.access.log;

  root /var/www/codespeed/awfy-speed;

  # serve directly - analogous for static/staticfiles
  location /media/ {
    # if asset versioning is used
    if ($query_string) {
      expires max;
    }
    root /var/www/codespeed/awfy-speed/override;
  }
  location /admin/media/ {
    # this changes depending on your python version
    root /var/www/codespeed/venv/lib/python3.6/site-packages/django/contrib;
  }
  location / {
    proxy_pass_header Server;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_buffering off;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    proxy_connect_timeout 10;
    proxy_read_timeout 10;
    proxy_pass http://unix:/var/www/codespeed/awfy.sock;
  }

  # what to serve if upstream is not available or crashes
  error_page 500 502 503 504 /media/50x.html;

  listen 80;
  listen [::]:80;

  # listen 443 ssl; # managed by Certbot
  # listen [::]:443 ssl;
  # ssl_certificate /etc/letsencrypt/live/stefan-marr.de/fullchain.pem; # managed by Certbot
  # ssl_certificate_key /etc/letsencrypt/live/stefan-marr.de/privkey.pem; # managed by Certbot
  # include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
  # ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

# server {
#     if ($host = awfy-speed.stefan-marr.de) {
#         return 301 https://$host$request_uri;
#     } # managed by Certbot
#
#
#   listen 80;
#   listen [::]:80;
#
#   server_name awfy-speed.stefan-marr.de;
#   return 404; # managed by Certbot
# }